site_name: 私の愛した数式
site_url: https://sukeya.github.io/
repo_url: https://github.com/sukeya/sukeya.github.io
repo_name: sukeya/sukeya.github.io
edit_uri: blob/main/docs/
nav:
  - '概要': index.md
  - OSS:
    - platanus: /platanus/
  - '記事':
    - 'Thrustの非同期実行': ./articles/thrust-async.md
    - 'Apple Magic Keyboardの設定': ./articles/config-apple-magic-keyboard-in-ubuntu.md
    - 'Alembicの使い方': ./articles/how-to-use-alembic.md
    - 'perf_event_paranoidを変更できない時の対処法': ./articles/cannot-change-perf-event-paranoid.md
    - 'gdbでのスタックトレースの自動取得': ./articles/gdb-get-stacktrace.md
    - 'Eigenで行優先の行列を行優先のベクトルに変換する時、ベクトルのイテレータを`std::contiguous_iterator`にする方法': ./articles/make-reshaped-matrix-iterator-contiguous.md
    - 'oneTBBの使い方': ./articles/how_to_use_onetbb.md
    - 'Ubuntu 25.04上のRadeonでRusticlを使う方法': ./articles/how_to_use_rusticl_with_radeon_on_ubuntu.md
    - 'AMD RDNA4のハードウェアの概要': ./articles/overview_of_RDNA4_hardware.md
    - 'Address sanitizerとEigenを一緒に使うとき': ./articles/eigen_with_asan.md
    - 'Expression templatesについて': ./articles/expression_templates.md
  - 'CUDAプログラミングガイド 日本語解説': /cuda_programming_guide_jp/
not_in_nav: |
  thrust.md
  memo.md
theme:
  name: material
  favicon: img/blog_logo.png
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.action.edit
    - toc.integrate
    - navigation.top
    - navigation.indexes
  palette:
  # Palette toggle for automatic mode
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
  # Palette toggle for light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default 
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
  # Palette toggle for dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to system preference
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.arithmatex:
      generic: true
plugins:
  - git-revision-date-localized:
      enable_creation_date: true
      type: iso_date
  - git-committers:
      repository: sukeya/sukeya.github.io
      branch: main
      token: !!python/object/apply:os.getenv ["MKDOCS_GIT_COMMITTERS_APIKEY"]
  - glightbox
  - search
extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
