---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    {% assign posts_group_by_year = site.posts | group_by_exp:"date", "date | date: '%Y'"  %}
    {% for posts_at_year in posts_group_by_year %}
    <h3 class="post-list-year">{{ posts_at_year.items.first.date | date: "%Y" }}年</h3>
      {% assign posts_group_by_month = posts_at_year.items | group_by_exp:"date", "date | date: '%m'"  %}
      {% for posts_at_month in posts_group_by_month %}
      <h4 class="post-list-month">{{ posts_at_month.items.first.date | date: "%m" }}月</h4>
        {% for post_at_month in posts_at_month.items %}
        <ul class="post-list">
          <li>
            <span class="post-list-day">{{ post_at_month.date | date: "%e" }}日</span>
            <h5>
              <a class="post-link" href="{{ post_at_month.url | relative_url }}">
                {{ post_at_month.title | escape }}
              </a>
            </h5>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        </ul>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {%- endif -%}

</div>